[data-theme='muted'] {
  --background: oklch(0.97 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.922 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.922 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(0.627 0.194 149.214);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

[data-theme='accent'] {
  --background: oklch(0.922 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.97 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.97 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.87 0 0);
  --muted-foreground: oklch(0.439 0 0);
  --accent: oklch(0.87 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.505 0.213 27.518);
  --success: oklch(0.527 0.154 150.069);
  --border: oklch(0.87 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.556 0 0);
}

[data-theme='brand'] {
  --background: oklch(0.205 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.269 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.371 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --success: oklch(0.792 0.209 151.711);
  --border: oklch(0.371 0 0);
  --input: oklch(0.371 0 0);
  --ring: oklch(0.708 0 0);
}

.dark [data-theme='muted'] {
  --background: oklch(0.205 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.269 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.371 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --success: oklch(0.792 0.209 151.711);
  --border: oklch(0.371 0 0);
  --input: oklch(0.371 0 0);
  --ring: oklch(0.556 0 0);
}

.dark [data-theme='accent'] {
  --background: oklch(0.269 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.371 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.371 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.439 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.371 0 0);
  --muted-foreground: oklch(0.87 0 0);
  --accent: oklch(0.439 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --success: oklch(0.792 0.209 151.711);
  --border: oklch(0.439 0 0);
  --input: oklch(0.439 0 0);
  --ring: oklch(0.708 0 0);
}

.dark [data-theme='brand'] {
  --background: oklch(0.922 0 0);
  --foreground: oklch(0.205 0 0);
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.205 0 0);
  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.205 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.87 0 0);
  --muted-foreground: oklch(0.439 0 0);
  --accent: oklch(0.87 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(0.627 0.194 149.214);
  --border: oklch(0.87 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.556 0 0);
}
